.dropdownMenu{
position: absolute;
width: 909px;
height: 271px;
left: -25px;
top: 60px;
background-color: #fff;
backdrop-filter: blur(66px);
border-radius: 14px;

}
.item:hover{
color: red;
cursor: pointer;
}